@import '../scss/partials/base';
@import '../scss/partials/sanatize';
@import '../scss/partials/buttons';

h1, h2, h3, h4, h5, h6 {
    color: $brand;
    font-family: $font-family;
    font-weight: $light-Weight;
    letter-spacing: $letter-spacing-big;
}

body {
    font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing-sml;
}

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    color: $white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid $dark;
    &:hover {
        background: $white;
        color: $brand;
    }
}
